h1 {
  font-size: 60px;
  color: #44475d;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 750px;
}

.carrousel-presentation,
.carrousel-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 600px;
  overflow: hidden;
  background-color: #00000008;
}
.containerpresentation {
  background-color: #ffffffff;
  border: 3px solid #7856ff;
  border-radius: 8px;
  width: 1000px;
}

.carrousel1,
.carrousel2 {
  display: none;
  height: 100%;
}

.img {
  height: 85%;
}
.img2 {
  height: 100%;
}

.textcarrousel,
.textcarrousel2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.textpresentation {
  width: 50%;
}
.description,
.description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 70%;
  margin-bottom: 50px;
}

.textcarrousel p,
.textcarrousel2 p {
  text-align: center;
  color: #707070;
  font-size: 18px;
}
.textpresentation p {
  font-size: 25px;
}

.textcarrousel2 h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.textcarrousel2 h3 {
  font-size: 20px;
}
h2,
h3 {
  color: #44475d;
}

.textcarrousel2 span {
  color: #7856ff;
}

.active {
  position: relative;
  display: flex;
}

.imgcarrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  left: -100px;
  animation: slideleft 0.8s forwards;
}
@keyframes slideleft {
  100% {
    left: 0;
  }
}

.description {
  position: relative;
  display: flex;
  right: -100px;
  animation: slideright 0.8s forwards;
}
@keyframes slideright {
  100% {
    right: 0;
  }
}

li {
  list-style-type: none;
  margin-right: 50px;
  position: relative;
  display: inline-block;
  text-align: center;
}

#list {
  position: relative;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

figure {
  cursor: pointer;
  margin: 0;
  opacity: 0.5;
  backface-visibility: hidden;
  transition: transform 450ms;
}

figcaption {
  margin-top: 5px;
}

figcaption h2 {
  margin: 0;
}

figcaption p {
  color: #707070;
  font-size: 14px;
  margin: 0;
}

.buttonimgbox,
.buttonimgboxstaff {
  border-radius: 45px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.buttonimgboxstaff {
  width: 30px;
  height: 30px;
}

.buttonimgbox {
  width: 80px;
  height: 80px;
}

.buttonsecurity,
.buttonresponsive,
.buttongraphics {
  background-color: #7856ff;
  background-size: cover;
  background-position: 0px -20px;
  position: absolute;
  width: 80px;
  height: 80px;
}
.buttonimgluc {
  background: url(img/LucBoulangerButton.png) no-repeat;
  background-size: cover;
  background-position: -5px -13px;
  position: absolute;
  width: 90px;
  height: 90px;
}
.buttonimglukas {
  background: url(img/LukasVuylstekeButton.png) no-repeat;
  background-size: cover;
  background-position: 0px -13px;
  position: absolute;
  width: 80px;
  height: 80px;
}
.buttonimgtheo {
  background: url(img/TheoLemmetaisButton.png) no-repeat;
  background-size: cover;
  background-position: 0px -20px;
  position: absolute;
  width: 80px;
  height: 80px;
}

.activebutton {
  opacity: 1;
  transition: 0.5s;
}

.buttonimgbox:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.buttonimgbox:not(:hover) {
  transform: scale(1);
  transition-duration: 0.2s;
}

@media (max-width: 1400px) {
  .textcarrousel2 h2 {
    text-align: center;
  }

  .imgcarrousel {
    align-items: flex-end;
  }
  .img {
    height: 100%;
  }
  .textcarrousel2 {
    justify-content: flex-end;
    margin-right: 5%;
  }
  .containerpresentation {
    width: 80%;
  }
  .description p {
    font-size: 30px;
  }
  .textpresentation p {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
  .textcarrousel {
    margin-top: 5%;
  }

  .containerpresentation {
    height: 600px;
    width: 800px;
  }
  .carrousel1 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .imgcarrousel {
    align-items: center;
    height: 50%;
  }

  .textpresentation {
    height: 50%;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .textpresentation p {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
  .textcarrousel2 {
    justify-content: flex-end;
    margin-top: 10%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 47px;
  }

  .container {
    width: 65%;
  }
  .carrousel2 {
    width: 100%;
    flex-direction: column;
  }

  .img {
    height: 100%;
  }
  .imgcarrousel {
    justify-content: center;
    align-self: center;
    height: 50%;
  }
  .textcarrousel {
    margin-top: 2%;
    display: block;
    width: 100%;
  }
  .description {
    width: 100%;
  }

  li {
    margin-bottom: 20%;
  }
  .textcarrousel h2 {
    margin-bottom: 5px;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  main {
    flex-direction: column-reverse;
  }
  .navigation {
    width: 100%;
  }
  figure {
    width: 50px;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding-left: 0;
  }
  .navigation {
    display: flex;
  }
  .container {
    width: 90%;
  }
  figcaption p {
    display: flex;
  }
  figcaption h2 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  figure {
    width: 100%;
  }
  li {
    margin-right: 0;
  }
}
