.graphsX2{
    width: 50%;
    height: auto;
    border: #111324 2px solid;
    position: relative;
    margin: 20px 10px 0 10px;
    border-radius: 2% 2% 2% 2%;
    background-color: #f0f0f0;
  }
  
  #dashTable{
    width: 90%;
    margin: 2%;
  } 

  div.dataTables_wrapper {
    margin: 0 auto;
}

  .gridDashboard{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;  
  } 

  #graphsGrid{
    position: relative;
    top: 2%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 90%;
    height: fit-content;
    margin-bottom: 2%;
  }

  #selectorBox{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }

body{
  height: fit-content;
}

footer{
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input, select{
  background-color: white !important;
}

form{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

th{
  color: white;
  background-color: #111324;
}

select{
  border-radius: 2px;
  border: solid 2px #111324;
}

th:hover{
  cursor: pointer;
}

#button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  border-radius: 50px;
  background-color: #7856ff !important;
  border: solid 2px #7856ff;
  color: white;
  cursor: pointer;
}

#button:not(:hover) {
  transform: scale(1);
  transition-duration: 0.3s;
  border-radius: 50px;
  border: solid 2px #7856ff;
  background-color: white;
  color: #7856ff;
}

@media (max-width: 920px){
  #graphsGrid{
    flex-flow: column;
  }
  .graphsX2{
    width: 100%;
    margin: 10px 0;
  }

  form{
    display: block;
    height: fit-content;
    text-align: center;
    margin: 1%;
    padding: 1%;
  }

  #button, input{
    margin: 3px 2px;
  }
}