p {
    margin: 10px 125px 20px;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

a {
    color: #1614b4;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

body {
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 140%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: #44475d;
}

li {
    text-align: center;
    margin: 10px 600px 20px;
}

.mention {
    line-height: 2em;
}

.ruban {
    text-align: center;
    background: linear-gradient(70deg, blue, pink);
    padding: 10px 50px 20px;
    border-radius: 30px;
    opacity: 0.5;
}

@media only screen and (max-width: 400px) {
    li {
        margin: 10px 86px 20px;
    }
}